body {
  font-family: Arial;
  background: #f2f2f2;
}

.box {
  width: 300px;
  background: white;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: red;
}

.green {
  color: green;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}